*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}

html , body{
    height: 100%;
    width: 100%;
    /* padding: 1rem 2rem; */
}

/* nav{
    width: 100%;
    padding: 1rem 1rem;
    background-color: rgba(213, 36, 213, 0.2);
} */

.box{
    width: 25vw;
    height: 45vh;
    /* background-color: lightcoral; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 9999; */
}

.box img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    /* object-fit: fill; */
    /* border-radius: 1rem; */
    /* border: 2px solid ; */
}


/* .box2{
    width: 1536px; 
    height: 695px;
    background-color: lightsalmon;
}

.box2 .innerboxchild{
    width: 100%;
    height: 100%;
    background-color: lightblue;
} */

.box3{
    width: 100vw;
    height: 100vh;
    background-color: lightpink;
}

.box3 .textes{
    width: 40%;
    height: 40%;
    position: relative;
}

.box3 .textes .text-box{
    width: 20vw;
    height: 35vh;
    background-color: #080608;
    position: absolute;
    left: 40%;
    top: 12%;
    border-radius: 3vw 3vw 0vw 3vw;
}

.box3 .textes .text-box .under-text{
    color: #FBF4EC;
    /* position: ; */
    padding: 1.1em 1.1em 1.1em 1.1em;
}

.box3 .textes .text-box .under-text p{
    font-size: 1em;
    line-height: 1.3em;
    font-weight: 400;
}


.deco{
    width: 1vw;
    height: calc(100vh - 45vh);
    background-color: #7C4128;
    position: absolute;
    left: 36.2%;
    top: 20%;
    border-radius: 2vw;
}

/* .deco2{
    width: 20vw;
    height: 40vh;
    background-color: lightcoral;
    padding: 2vw;
} */

.deco2 p{
    display: inline-block;
    font-size: 10vw;
    font-weight: 550;
    color: #F7F0E4;
    position: absolute;
    left: 60%;
    rotate: 40deg;
    top: 60%;
}

.deco3{
    position: absolute;
    align-items: center;
    left: 20%;
    top: 42%;
    rotate: -40deg;

}

.deco3 .sphere1{
    width: 8vw;
    height: 16vh;
    border-radius: 50%;
    background-color: #FDF5F0;
    background:linear-gradient(to right, #5A4843, #D1C0AD, #D3BEAB, #785D4B, #EED3B3, #FCF5EE ) ;
}

.deco3 .sphere2{
    width: 4vw;
    height: 8vh;
    border-radius: 50%;
    background-color: #FDF5F0;
}

.deco3 .sphere3{
    width: 2vw;
    height: 5vh;
    border-radius: 50%;
    background-color: #FDF5F0;
}




section{
    width: 100vw;
    height: 100vh;
    background-color: rgb(8, 156, 205);
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    padding: 3vw;
    align-items: center;
    gap: 0.5vw;
}

section .dabba{
    width: 15vw;
    height: 15vh;
    background-color: lightcoral;
    border: 2px solid white;
    border-radius: 0.4vw;
}