*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    position: relative;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: #151414;
}

nav{
    height: 14vh;
    width: 100%;
    background-color: red;
    display: grid;

}

#logo{
    height: 6vw;
    width: 6vw;
}