*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

#box{
    height: 300px;
    width: 300px;
    background-color: lightgreen;
}

#circle{
    height: 250px;
    width: 250px;
    margin: 2vw;
    background-color: lightblue;
    border-radius: 50%;
}